#Django主程式
Django==4.2.2
#資料庫
mysql-connector-python==8.0.33
mysqlclient==2.2.0
#圖檔傳輸
Pillow==9.5.0
#youtube轉檔
pytube==15.0.0
#static 在生產環境下要調用必備程式
whitenoise==6.5.0


#下面是附加增加出來的
asgiref==3.7.2
attrs==23.1.0

certifi==2023.5.7
charset-normalizer==3.2.0


django-appconf==1.0.5
django-imagekit==4.1.0
exceptiongroup==1.1.2

h11==0.14.0
idna==3.4


outcome==1.2.0
packaging==23.1
pilkit==2.0

protobuf==3.20.3
pygal==3.0.0
pygal-maps-world==1.0.2
PySocks==1.7.1
python-dotenv==1.0.0



six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
sqlparse==0.4.4
tqdm==4.65.0
trio==0.22.2
trio-websocket==0.10.3
typing_extensions==4.6.3

webdriver-manager==3.8.6

wsproto==1.2.0
